@model IEnumerable<VetClinic.Data.Data.Clinic.User>

@{
    ViewData["Title"] = "Pracownicy";
}
<div id="accordion">
    <div class="card">
        <div class="card-header" id="Filtry">
            <div class="mb-0">
                Filtr
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-bars text-black"></i>
                </button>
            </div>
        </div>
        <div id="collapse1" class="collapse show" aria-labelledby="Filtr" data-parent="#accordion">
            <div class="card-body">

                <form class="form-inline" asp-action="Index" method="get">
                    <div class="form-group mb-2">
                        <label>Szukaj: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Login,Nazwisko,E-mail,Miasto" /> @*Podpiąć swoje dane*@
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
                    <a role="button" class="btn btn-outline-primary mb-2" asp-action="Index" id="usunFiltry"> <i class="fas fa-minus-circle"></i> Usuń filtry</a> @*Podpiąć swoje dane*@
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm("Deactivate", "Admins", FormMethod.Post))
{
    <p>
        <a class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            Dodaj nowy
        </a>
        <input class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" type="submit" value="Dezaktywuj" />
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>

                    </th>
                    <th>
                        Imię
                    </th>
                    <th>
                        Nazwisko
                    </th>
                    <th>
                        Miasto
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Nr.Telefonu
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="checkbox checkbox-outline-primary" type="checkbox" name="ids" value="@Html.DisplayFor(modelItem => item.UserID)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Edit" asp-route-id="@item.UserID">
                                <span class="fas fa-pen"></span>
                            </a>
                            <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Details" asp-route-id="@item.UserID">
                                <span class="fas fa-list-alt"></span>
                            </a>
                            <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Delete" asp-route-id="@item.UserID">
                                <span class="fas fa-trash-alt"></span>
                            </a>
                            @*<a class="btn btn-outline-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.UserID">
                                    <span class="fas fa-pen"></span>
                                </a>
                                <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Details" asp-route-id="@item.UserID">
                                    <span class="fas fa-list-alt"></span>
                                </a>
                                <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Delete" asp-route-id="@item.UserID">
                                    <span class="fas fa-trash-alt"></span>
                                </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@*<div id="accordion">
        <div class="card">
            <div class="card-header" id="Filtry">
                <div class="mb-0">
                    Filtr
                    <button class="btn btn-link" data-toggle="collapse"
                            data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-bars text-black"></i>
                    </button>
                </div>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="Filtr" data-parent="#accordion">
                <div class="card-body">

                    <form class="form-inline" asp-action="Index" method="get">
                        <div class="form-group mb-2">
                            <label>Szukaj: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Login,Nazwisko,E-mail,Miasto" />
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
                        <a role="button" class="btn btn-outline-primary mb-2" asp-action="Index" id="usunFiltry"> <i class="fas fa-minus-circle"></i> Usuń filtry</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("Deactivate", "Admins", FormMethod.Post))
    {
        <p>
            <a class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
                <i class="fas fa-plus-circle"></i>
                Dodaj Pracownika
            </a>
            <input class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" type="submit" value="Dezaktywuj" />
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>

                        </th>
                        <th>
                            Imię
                        </th>
                        <th>
                            Nazwisko
                        </th>
                        <th>
                            Miasto
                        </th>
                        <th>
                            E-mail
                        </th>
                        <th>
                            Nr.Telefonu
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <input class="checkbox checkbox-outline-primary" type="checkbox" name="ids" value="@Html.DisplayFor(modelItem => item.UserID)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        <td>
                            <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.UserID">
                                <span class="fas fa-pen"></span>
                            </a>
                            <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Details" asp-route-id="@item.UserID">
                                <span class="fas fa-list-alt"></span>
                            </a>
                            <a class="btn btn-outline-primary btn-sm" role="button" asp-action="Delete" asp-route-id="@item.UserID">
                                <span class="fas fa-trash-alt"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }*@