@model VetClinic.Data.Data.Clinic.User

@{
    ViewData["Title"] = "Usuwanie";
}
<h4>Usuń:</h4>
<h2>Klient</h2>
<hr />

<div class="row inputGroupMargin">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Imię i nazwisko</span>
        </div>
        <input type="text" class="form-control col-3" value="@Model.FirstName @Model.LastName">
    </div>
</div>
<div>
    <dl class="row">
        <dd class="col-sm-12">
            <img src="~/uploads/@Model.Photo" class="img-thumbnail rounded thumb-size listButtMargin" />
        </dd>
        <dt class="col-sm-2">
            Nr domu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            Nr lokalu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>
        <dt class="col-sm-2">
            Ulica:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            Miasto:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Kod pocztowy:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            E-mail:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Login:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            Hasło:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            Nr telefonu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Zdjęcie:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            Nr karty:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt class="col-sm-2">
            Czy aktywny:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            Opis:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<hr />
<div>
    @*<form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Usuń" class="btn btn-primary" />

        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </form>*@
    <form asp-action="Delete">
            <input type="hidden" asp-for="UserID" />
            <input type="submit" value="Usuń" class="btn btn-primary buttMargin" />

            <a class="btn btn-outline-primary" role="button" asp-action="Index">
                <span class="fas fa-arrow-circle-left"></span> Wróć do listy
            </a>
        </form>
</div>
@*<h4>Usuń Klienta:</h4>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Imię:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                Nazwisko:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                Nr.Domu:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HouseNumber)
            </dd>
            <dt class="col-sm-2">
                Nr.Lokalu:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApartmentNumber)
            </dd>
            <dt class="col-sm-2">
                Ulica:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-2">
                Miasto:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                Kod Pocztowy:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt class="col-sm-2">
                E-mail:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Login:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Login)
            </dd>
            <dt class="col-sm-2">
                Hasło:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                Nr.Telefonu:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                Nr.Karty
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
            <dt class="col-sm-2">
                Czy Aktywny:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt class="col-sm-2">
                Opis:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="UserID" />
            <input type="submit" value="Usuń" class="btn btn-primary" />

            <a class="btn btn-outline-primary" role="button" asp-action="Index">
                <span class="fas fa-arrow-circle-left"></span> Wróć do listy
            </a>
        </form>
    </div>*@
