@model IEnumerable<VetClinic.Data.Data.Clinic.User>

@{
    ViewData["Title"] = "Wszyscy użytkownicy";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="Filtry">
            <div class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                <strong>Filtry</strong>
                <button class="btn btn-link">
                    <i class="fa fa-bars text-black"></i>
                </button>
            </div>
        </div>
        <div id="collapse1" class="collapse @(ViewData["currentFilter"] == null ? "" : "show")" aria-labelledby="Filtry" data-parent="#accordion">
            <div class="card-body">

                <form class="form-inline" asp-action="Index" method="get">
                    <div class="form-group mb-2">
                        <label>Wyszukaj po: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2 col-md-6">
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Login, Nazwisko, E-mail, Miasto" />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
                    @if (ViewData["currentFilter"] != null)
                    {
                        <a role="button" class="btn btn-outline-primary mb-2" id="usunFiltry" asp-action="Index"> <i class="fas fa-minus-circle"></i> Usuń filtry</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm("Deactivate", "AllUsers", FormMethod.Post))
{
    <p>
        <input class="btn btn-outline-secondary" role="button" aria-haspopup="true" aria-expanded="false" type="submit" value="Dezaktywuj" />
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <input class="checkbox checkbox-outline-primary" type="checkbox" id="select_all" />
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Adres
                    </th>
                    <th>
                        Rola
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(item.IsActive ? "item-active" : "item-not-active") tableCursor">
                        <td>
                            <input class="checkbox checkbox-outline-primary" type="checkbox" name="ids" value="@Html.DisplayFor(modelItem => item.UserID)" />
                        </td>
                        <td onclick="location.href = '@(Url.Action("Edit", "AllUsers", new { id = item.UserID }, null))'">
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                            <span class="login">(Login: @Html.DisplayFor(modelItem => item.Login))</span>
                        </td>
                        <td onclick="location.href = '@(Url.Action("Edit", "AllUsers", new { id = item.UserID }, null))'">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td onclick="location.href = '@(Url.Action("Edit", "AllUsers", new { id = item.UserID }, null))'">
                            @Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.HouseNumber)
                            @if (item.ApartmentNumber != null)
                            {@Html.DisplayFor(modelItem => item.ApartmentNumber)},
                            @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td onclick="location.href = '@(Url.Action("Edit", "AllUsers", new { id = item.UserID }, null))'">
                            @Html.DisplayFor(modelItem => item.UserType.Name)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" role="button" asp-action="lockUnlock" asp-route-id="@item.UserID"
                               title="@String.Format("{0} użytkownika {1} {2}", (item.IsActive ? "Zablokuj" : "Oblokuj"), item.FirstName, item.LastName)">
                                @if (item.IsActive)
                                {<span class="fas fa-lock"></span>}
                                else
                                {<span class="fas fa-unlock"></span>}
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#select_all').on('click', function () {
            if (this.checked) {
                $('.checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

        $('.checkbox').on('click', function () {
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $('#select_all').prop('checked', true);
            } else {
                $('#select_all').prop('checked', false);
            }
        });
    });
</script>