@model VetClinic.Data.Data.Clinic.User
@{
    if (ViewBag.Logged)
    {
        Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    }
    ViewData["Title"] = "Nasz zespół";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-left mt-4">
            <h1 class="mb-1 mt-3">@Model.FirstName @Model.LastName</h1>
            <h4>Lekarz weterynarii</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-4">
            @{
                if (Model.Image != null)
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img style="max-height: 350px" class="img-fluid rounded" src="@imgSrc" />
                }
                else
                {
                    <img style="max-height: 350px" class="img-fluid rounded" src="~/images/empty_image.png" />
                }
            }
        </div>
        <div class="col-sm-8 text-left mt-4">
            @Model.Description
        </div>
        <div class="col-sm-12 text-left mt-4 mb-4">
            <ul class="list-group list-group-horizontal">
                @foreach (var item in ViewBag.MedicalSpecializations)
                {
                    if (item.IsActive == true)
                    {
                        <li class="list-group-item">@item.Specialization.Name</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
