@model VetClinic.Data.Data.Clinic.User
 <img class="col-sm-3" src="@Model.Photo" />
    <div class="col-sm-12">
       
        <h1 class="display-4">@Model.FirstName @Model.LastName</h1>
        <p class="lead">@Model.AddedMedicalSpecialization</p>
        <hr class="my-4">
        <p>@Model.Description</p>
        <p>@Model.Phone</p>
    </div>

