@model VetClinic.Data.Helpers.VisitDetails

@{
    Layout = null;
}




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/Zakladki.css" rel="stylesheet" />

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dane-tab" data-toggle="tab" href="#nav-dane" role="tab" aria-controls="nav-dane" aria-selected="true">Dane</a>
                    <a class="nav-item nav-link" id="nav-zabieg-tab" data-toggle="tab" href="#nav-zabieg" role="tab" aria-controls="nav-zabieg" aria-selected="false">Zabieg</a>
                    <a class="nav-item nav-link" id="nav-leki-tab" data-toggle="tab" href="#nav-leki" role="tab" aria-controls="nav-leki" aria-selected="false">Leki</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dane" role="tabpanel" aria-labelledby="nav-dane-tab">
                    <div>
                        <div class="row">
                            <div class="col-sm-6 wiersz">
                                <p class="odstep">Imię</p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep"> @Html.DisplayFor(model => model.Visit.Patient.Name) </p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep">Przydomek hodowlany</p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep"> @Html.DisplayFor(model => model.Visit.Patient.KennelName) </p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep">Data urodzenia</p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Visit.Patient.BirthDate))</p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep">Opis</p>
                            </div>
                            <div class="col-sm-6 wiersz">
                                <p class="odstep">  @Html.DisplayFor(model => model.Visit.Description)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-zabieg" role="tabpanel" aria-labelledby="nav-zabieg-tab">

                    @if (Model.VisitTreatments.Count == 0)
                    {
                        <br />
                        <p><b>Nie ma dodanych zabiegów</b></p>
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa
                                        </th>
                                        @*<th>
                                                Ilosc
                                            </th>*@
                                        <th>
                                            Typ leku
                                        </th>
                                        @*<th></th>*@
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitTreatments)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Name)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Medicine.Quantity)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Description)
                                            </td>
                                            @*<td>
                                                <a href="#" onclick="DeleteVisitTretment(@item.TreatmentID, @item.VisitID)" class="TreatmentIDDelete btn btn-outline-primary btn-sm" role="button">
                                                    <span class="fas fa-trash"></span>
                                                </a>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="nav-leki" role="tabpanel" aria-labelledby="nav-leki-tab">
                    @if (Model.VisitMedicine.Count == 0)
                    {<br />
                        <p>
                            <b>Nie ma dodanych leków</b>
                        </p>
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa
                                        </th>
                                        @*<th>
                                                Ilosc
                                            </th>*@
                                        <th>
                                            Typ leku
                                        </th>
                                        @*<th></th>*@
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitMedicine)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.Name)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Medicine.Quantity)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.MedicineType.Name)
                                            </td>
                                            @*<td>
                                                <a href="#" onclick="DeleteVisitMedicine(@item.MedicineID, @item.VisitID)" class="TreatmentIDDelete btn btn-outline-primary btn-sm" role="button">
                                                    <span class="fas fa-trash"></span>
                                                </a>
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

