@model IEnumerable<VetClinic.Data.Data.Clinic.Visit>

@{
    ViewData["Title"] = "Wizyta pacjenta";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}

<link href="~/css/Zakladki.css" rel="stylesheet" />
<div class="row col">
    <p class="w-100">
        <a class="btn btn-outline-danger float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Delete" asp-route-id=@ViewData["PatientID"]>
            <i class="fas fa-minus-circle"></i>
            Usuń
        </a>
    </p>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="komorka">
                <tr>
                    <th class="text-left">
                        Imię
                    </th>
                    <th class="text-left">
                        Data urodzenia
                    </th>
                    <th class="text-left">
                        Nazwisko właściciela
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @ViewBag.PatientName
                    </td>
                    <td>
                        @ViewBag.BirthDate
                    </td>
                    <td>
                        @ViewBag.PatientUserLastname
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="komorka">
                    <tr>
                        <th>
                            Data wizyty
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.IsActive ? "item-active" : "item-not-active" )">
                            <td>
                                @*<a asp-action="EditVisit" asp-route-id="@item.VisitID">
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateOfVisit))
                                    </a>*@
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateOfVisit))

                            </td>
                            <td>
                                <a href="#" data-VisitId="@item.VisitID" onclick="VisitDetailsClick(@item.VisitID)" class="visitdetails-id btn btn-outline-primary btn-sm" role="button">
                                    <span class="fas fa-eye"></span>
                                    Podgląd
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="maincont" class="form-group col-md-9"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>


        function VisitDetailsClick(VisitId) {
            var pId = VisitId;
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("VisitDetails", "Patient")',
                    data: {
                        id: pId
                    },
                    success: function (pageContent) {
                        $('#maincont').html(pageContent);       
                    }
                });             
        }
        function DeleteVisitTretment(treatmentID, visitID) {
            if (confirm("Czy jesteś pewien, że chcesz kontynuować?")) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteVisitTretment", "Patient")',
                    data: {
                        TreatmentID: treatmentID,
                        VisitID: visitID
                    },
                    success: function (visitID) {
                        VisitDetailsClick(visitID)
                    }
                });
            }
        }
        function DeleteVisitMedicine(medicineID, visitID) {
            if (confirm("Czy jesteś pewien, że chcesz kontynuować?")) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteVisitMedicine", "Patient")',
                    data: {
                        MedicineID: medicineID,
                        VisitID: visitID
                    },
                    success: function (visitID) {
                        VisitDetailsClick(visitID);
                    }
                });
            }
        }
    </script>
}
