@model VetClinic.Data.Helpers.ScheduleBlocks
@{
    ViewBag.Title = "Witamy";
    //Layout = "~/Views/Shared/_Layout_MainPage.cshtml";
}

<div class="row no-gutters">
    <div class="col" style="min-width:775px; max-width:775px">
        <div class="row no-gutters">
            <div class="col">
                <div class="row no-gutters">
                    <h2 class="text-left float-left">Rezerwacje</h2>
                </div>
                <div class="float-sm-left">
                    <a class="btn btn-outline-primary btn-sm" role="button" aria-haspopup="true" aria-expanded="false" asp-action="ToDay" asp-controller="Home">
                        Aktualny tydzień
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col text-center" style="text-align-last: center;">
                <table class="table-borderless text-center mt-sm-5">
                    <tr>
                        <td>
                            @{
                                DateTime Today = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0);
                                DateTime Sunday = new DateTime(Model.First.Year, Model.First.Month, Model.First.Day, 0, 0, 0).AddDays(6);
                                DateTime Quarter = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0).AddMonths(3);
                                //
                                Sunday = Sunday + (new TimeSpan(6, 0, 0, 0));
                                //pokaz gdy jest  w zakresie przed lub po

                                @*@if (DateTime.Compare(Today, Model.First) == -1 || DateTime.Compare(Today, Sunday) == 1)*@
                                //{
                                <form class="m-sm-3" asp-action="Index" method="post">
                                    <input type="hidden" name="Navigation" value="previous" />
                                    <input type="hidden" value="@Model.First" name="first" />
                                    @*<input class="btn btn-outline-primary mb-sm-4" type="submit" value="<<" />*@
                                    <button type="submit" class="btn"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button>
                                </form>
                                @*}*@
                            }
                        </td>
                        <td colspan="5" class="align-middle">
                            @{
                                //informacja o przegladanym tygodniu pokazujemy ZAKRES
                                DateTime nextWeek = Model.First.AddDays(7);
                            }
                            <h5>Tydzień @Model.First.ToString("dd/MM/yyyy") - @nextWeek.ToString("dd/MM/yyyy")</h5>
                        </td>
                        <td>
                            @if (DateTime.Compare(nextWeek, Quarter) == -1)
                            {
                                <form class="m-sm-3" asp-action="Index" method="post">
                                    <input type="hidden" name="Navigation" value="next" />
                                    <input type="hidden" value="@Model.First" name="first" />
                                    @*<input class="btn btn-outline-primary  mb-sm-4" type="submit" value=">>" />*@
                                    <button type="submit" class="btn"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button>
                                </form>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Pn</h5>
                        </td>
                        <td>
                            <h5>Wt</h5>
                        </td>
                        <td>
                            <h5>Śr</h5>
                        </td>
                        <td>
                            <h5>Czw</h5>
                        </td>
                        <td>
                            <h5>Pt</h5>
                        </td>
                        <td>
                            <h5>Sb</h5>
                        </td>
                        <td>
                            <h5>Nd</h5>
                        </td>
                    </tr>
                    <tr>
                        @{
                            //daty poszczegolnych dni w tygodniu
                            DateTime renderedDay = new DateTime(@Model.First.Year, @Model.First.Month, @Model.First.Day, 0, 0, 0);
                            for (int d = 0; d < 7; d++)
                            {
                                <td>@renderedDay.ToString("dd/MM/yy")</td>
                                renderedDay = renderedDay.Add(new TimeSpan(1, 0, 0, 0, 0));
                            }
                        }
                    </tr>
                    @{
                        //do sprawdzania czy zmienila sie godzina - wyswietlona zostanie aktualna
                        TimeSpan lastHour = new TimeSpan(Model.ScheduleBlock.ElementAt(0).Time.Hours, 0, 0);
                        DateTime block;

                        bool BlockFree = true;

                        //  <tr class="mt-sm-2 mb-sm-2">
                        <tr class="">
                            <td colspan="7" class="text-left">
                                <h5 class="mt-sm-2 ml-sm-3 float-left">@lastHour.Hours:00</h5>
                            </td>
                        </tr>
                        //przechodzimy po zadeklarowanych w bazie danych godzinach wizyt
                        foreach (var itemBlock in Model.ScheduleBlock)
                        {
                            block = new DateTime(@Model.First.Year, @Model.First.Month, @Model.First.Day, itemBlock.Time.Hours, itemBlock.Time.Minutes, 0);
                            //sprawdzamy czy godzina sie zmienila
                            if (itemBlock.Time.Hours != lastHour.Hours)
                            {
                                <tr class="mt-sm-2 mb-sm-3">
                                    <td colspan="7" class="text-left">
                                        <h5 class="mt-sm-2 ml-sm-3 float-left">@block.ToString("HH"):00</h5>
                                    </td>
                                </tr>
                                lastHour = new TimeSpan(block.Hour, 0, 0);
                            }
                            <tr>
                                @*tydzien*@
                                @for (int j = 0; j < 7; j++)
                                {
                                    <td>
                                        @*<div class="mr-sm-3">*@
                                        @foreach (var item in Model.Reservation)
                                        {
                                            //sprawdzamy czy termin wizyty nie jest juz zajety
                                            if (item.DateOfVisit.Equals(block))
                                            {
                                                BlockFree = false;
                                                <button class="btn btn-outline-danger mt-1 ml-md-3 mr-md-3" onclick="location.href='@Url.Action("Edit","Reservations", new {@id = @item.ReservationID})'">
                                                    @block.ToString("HH:mm")<br />Zajęty
                                                </button>
                                            }
                                        }
                                        @if (BlockFree == true)
                                        {
                                            //sprawdzamy czy ten dzien nie jest wolny od pracy
                                            @if (Model.InaccessibleDay.Contains(new DateTime(block.Year, block.Month, block.Day, 0, 0, 0)))
                                            {
                                                <button type="button" class="btn shadow-sm btn-outline-info mt-1 ml-md-3 mr-md-3" disabled>Dzień<br />Wolny</button>
                                                BlockFree = false;
                                            }
                                            else
                                            //jest wolny
                                            {
                                                <form asp-action="CreateNew" asp-controller="Reservations" method="post">
                                                    <input type="hidden" name="DateOfVisit" value="@block" />
                                                    <button type="submit" class="btn shadow-sm btn-outline-success mt-1 ml-md-3 mr-md-3"
                                                            @if ((DateTime.Compare(block, DateTime.Now) == -1)) { @: disabled
                                                            }>
                                                        @if ((DateTime.Compare(block, DateTime.Now) == -1))
                                                        {
                                                            <s>
                                                                @block.ToString("HH:mm")
                                                            </s>
                                                            <br />
                                                            @:&nbsp;
                                                        }
                                                        else
                                                        {
                                                            @block.ToString("HH:mm")<br />
                                                            @:Wolny
                                                        }
                                                    </button>
                                                </form>
                                            }
                                        }
                                        @*</div>*@
                                    </td>
                                    block = block.AddDays(1);
                                    BlockFree = true;
                                }
                            </tr>
                            block = block - new TimeSpan(7, 0, 0, 0);
                        }
                    }
                </table>
                <br />
                <hr />
                <br />
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <table class="table-borderless">
                    <tr>
                        <td><button class="btn shadow-sm btn-outline-danger mt-1 mr-2">13:00<br />Zajęty</button></td>
                        <td>Termin jest zajęty, przekierowanie do podglądu wizyty.</td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn shadow-sm btn-outline-info  mt-1 mr-2" disabled>Dzień<br />Wolny</button></td>
                        <td>W tym dniu przychodnia nie pracuje.</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn shadow-sm btn-outline-success mt-1 mr-2">13:00<br />Wolny</button></td>
                        <td>Termin wolny, rezerwacja jest możliwa, przekierowanie do rezerwacji w wybranym terminie.</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn btn-outline-success mt-1 mr-2" onclick="location.href='#'" disabled><s>13:00</s><br />Wolny</button></td>
                        <td>Termin nieaktualny.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <h5 class="text-center">Nowe wiadomości</h5><br />
            <div class="row no-gutters" style="justify-content: center;">
                @if (ViewBag.Empty == null)
                {
                    <p>Brak nowych wiadomości</p>
                }
                @foreach (var NewsItems in ViewBag.VetClinicContext)
                {
                    if (NewsItems.StartDate <= DateTime.Now && NewsItems.ExpirationDate >= DateTime.Now)
                    {
                        <div class="col" style="max-width:315px;">
                            <div class="card mb-3 cursorPointer" style="width: 305px;" onclick="location.href = '@(Url.Action("Details", "News", new { id = NewsItems.NewsID }, null))'">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        @{
                                            <img src="~/images/empty_image.png" style="width:100px;height:100px" class="card-img" alt="...">

                                            @*if (NewsItems.SenderUser.Image != null)
                                                {
                                                    var base64 = Convert.ToBase64String(NewsItems.SenderUser.Image);
                                                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                                    <img style="width: 100px; height:100px" class="card-img" src="@imgSrc" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/empty_image.png" style="width:100px;height:100px" class="card-img" alt="...">
                                                }*@
                                        }
                                        @* Nie działa pobieranie SenderUse...zwraca null *@
                                        <p class="card-title" style="color:#f37159;text-align: center;"></p>
                                    </div>
                                    <div class="col-8" style="align-self: center;">
                                        <div class="card-body" style="padding-top: 5px; padding-bottom: 15px; padding-left: 10px; padding-right: 5px;">
                                            <p class="card-title giveMeEllipsis" style="font-weight:bold">@NewsItems.Title</p>
                                            <p class="card-text Ellipsis3r">@NewsItems.Message</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
    </div>
</div>