@model VetClinic.Data.Data.Clinic.VisitMedicine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VisitMedicine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit.VisitID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VisitMedicineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
