@model VetClinic.Data.Data.CMS.RecentNews
@{
    ViewData["Title"] = Model.LinkTitle;
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="container">
    <div class="col s12">
        <br /><br />
        <div class="row justify-content-center">
            <h3 style="color:dimgray">@Model.LinkTitle</h3>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-image">
                    @{
                        if (Model.Image != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Image);
                            var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                            <img style="max-height: 300px" src="@imgSrc" />
                            @*<img src="@Url.Content(@Model.Photo)" alt="brak zdjęcia">*@
                        }
                        else
                        {
                            <img style="height: 300px" src="~/images/NO_IMG_600x600.png" />
                        }
                    }
                </div>
            </div>
            <div class="col align-self-center">
                <div class="row">
                    <h3 style="color:#f3715b"> @Html.Raw(Model.Title)</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-content">
                <p> @Html.Raw(Model.Text)</p>
            </div>
        </div>
    </div>
</div>