@model VetClinic.Data.Data.Clinic.PatientType

@{
    ViewData["Title"] = String.Format("Edycja typu pacjenta: {0}", Model.Name);
}

<div class="container">
    <div class="row">
        <form asp-action="Edit" class="col" id="saveForm">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PatientTypeID" />
                <input type="hidden" asp-for="IsActive" />
                <input type="hidden" asp-for="AddedDate" />
                <input type="hidden" asp-for="AddedUserID" />
                <input type="hidden" asp-for="UpdatedUserID" />
                <input type="hidden" asp-for="UpdatedDate" />

                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label1">Nazwa</span>
                        </div>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label1">Opis</span>
                    </div>
                    <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            @await Component.InvokeAsync("DetailsComponent", new
            {
            AddedDate = @Model.AddedDate,
            AddedUserID = @Model.AddedUserID,
            UpdatedDate = @Model.UpdatedDate,
            UpdatedUserID = @Model.UpdatedUserID
            })
        </form>
    </div>
    <div class="row">
        <div class="col">
            @if (Model.IsActive)
            {
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModal">
                    Usuń
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Uwaga!</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Czy chcesz usunąć typ pacjenta?
                            </div>


                            <div class="modal-footer">
                                <form asp-action="Delete" asp-route-id="@Model.PatientTypeID">
                                    <input type="hidden" asp-for="PatientTypeID" />
                                    <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                    <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*<form asp-action="Delete" asp-route-id="@Model.PatientTypeID" onsubmit="alert('Na pewno chcesz usunąć typ pacjenta?')">
                <input type="hidden" asp-for="PatientTypeID" />
                <input type="submit" value="Usuń" class="btn btn-outline-danger buttMargin" />
            </form>*@
            }
            else
            {
                <form asp-action="Restore" asp-route-id="@Model.PatientTypeID">
                    <input type="hidden" asp-for="PatientTypeID" />
                    <input type="submit" value="Przywróć" class="btn btn-success buttMargin" />
                </form>
            }
        </div>
        <div class="col">
            <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success float-right buttMargin" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
