@model VetClinic.Data.Data.Clinic.News

@{
    ViewData["Title"] = "Szczegóły";
}

<h4>Szczegóły wiadomości:</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Treść wiadomości
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            Czy odczytana
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsReaded)
        </dd>
        <dt class="col-sm-2">
            Czy aktywna
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            Data od
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            Data do
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            Data dodania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class="col-sm-2">
            DAta aktualzacji
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            Nadawca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderUser.FirstName)
            @Html.DisplayFor(model => model.SenderUser.LastName)
        </dd>
        <dt class="col-sm-2">
            Grupa odbiorców
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverUserTypes.Description)
        </dd>
        <dt class="col-sm-2">
           Zmeiniający
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsUpdatedUser.Login)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@Model.NewsID">
        <span class="fas fa-pen"></span> Edytuj
    </a>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left"></span> Wróć do listy
    </a>
</div>
