@model VetClinic.Data.Data.Clinic.News

@{
    ViewData["Title"] = String.Format("Wiadomość od: {0} {1}", @Model.SenderUser.FirstName, @Model.SenderUser.LastName);
}

    <div class="container">
        <div class="row">
            <h4>@Model.Title</h4>
        </div>
        <div class="row">
            <p>@Model.Message</p>
        </div>
        <div class="row">
            @if (Model.IsReaded == false)
            {
                <form asp-action="Read" asp-route-id="@Model.NewsID">
                    <input type="hidden" asp-for="NewsID" />
                    <input type="submit" value="Oznacz jako odczytaną" class="btn btn-outline-success buttMargin" />
                </form>
            }
            @if (Model.IsReaded == true)
            {
                <form asp-action="Restore" asp-route-id="@Model.NewsID">
                    <input type="hidden" asp-for="NewsID" />
                    <input type="submit" value="Oznacz jako nieodczytaną" class="btn btn-outline-success buttMargin" />
                </form>
            }

            @if (Model.UserID == ViewBag.LoggedUserID)
            {
                <form asp-action="Edit" method="get" asp-route-id="@Model.NewsID">
                    <input type="hidden" asp-for="NewsID" />
                    <input type="submit" value="Edytuj" class="btn btn-outline-danger buttMargin" />
                </form>
            }

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </div>