@model VetClinic.Data.Data.Clinic.News

@{
    ViewData["Title"] = String.Format("Wiadomość");
}

<div class="container">
    <div class="row  rounded shadow mt-sm-3 mb-sm-3 pb-1 pt-1">
        <div class="col-sm-12">
            <small class="text-muted align-bottom float-right">@Model.UpdatedDate</small>
        </div>
        <div class="col-sm-12">
            <h3>@Model.Title</h3>
            <hr />
        </div>
        <div class="col-sm-6">
            @Model.Message
        </div>
        <div class="col-sm-12">
            @{
                if (Model.SenderUser.Image != null)
                {
                    var base64 = Convert.ToBase64String(Model.SenderUser.Image);
                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img style="width: 80px; height:80px" class="card-img mt-4 mb-1 float-sm-left" src="@imgSrc" />
                }
                else
                {
                    <img style="width: 80px; height:80px" class="card-img mt-4 mb-1 float-sm-left" src="~/images/empty_image.png" />
                }
            }
        </div>
        <div class="col-sm-12 mb-1">
            <h6 class="float-sm-left">@Model.SenderUser.FirstName @Model.SenderUser.LastName</h6>
            <a class="btn btn-outline-secondary float-right btn-sm" role="button" aria-haspopup="true" asp-action="Index">
                <i class="fas fa-chevron-left"></i>
                Powrót
            </a>
        </div>
    </div>
</div>
