@model IEnumerable<VetClinic.Data.Data.Clinic.News>

@{
    //ViewData["Title"] = "Wiadomości nieodczytane";
    ViewData["Title"] = ViewBag.Tite;
}

<div class="row mb-2">
    <div class="col-12">
        <a class="btn btn-outline-success float-right btn-sm" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            Dodaj
        </a>
    </div>
</div>

<div id="accordion">
    <div class="card mb-4">
        <div class="card-header" id="Filtry">
            <div class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                <strong>Filtry</strong>
                <button class="btn btn-link btn-sm">
                    <i class="fa fa-bars text-black"></i>
                </button>
            </div>
        </div>
        <div id="collapse1" class="collapse @(ViewData["currentFilter"] == null ? "" : "show")" aria-labelledby="Filtry" data-parent="#accordion">
            <div class="card-body">

                <form class="form-inline" method="get">
                    <div class="form-group mb-2">
                        <label>Wyszukaj po: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2 col-md-6">
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Imię, Nazwisko, Temat, Treść" />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2  btn-sm">Szukaj</button>
                    @if (ViewData["currentFilter"] != null)
                    {
                        <a role="button" class="btn btn-outline-primary mb-2" id="usunFiltry" href='javascript:history.go(-1)'> <i class="fas fa-minus-circle"></i> Usuń filtry</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @foreach (var item in Model.OrderByDescending(x => x.StartDate).ThenBy(y => y.AddedDate))
    {
        <div class="row no-gutters rounded shadow-sm mt-2 mb-2 
            @if(item.NewsReadeds.FirstOrDefault(f => f.NewsID == item.NewsID) == null)
            {
                     @: bg-light
            }
        ">

            @{
                 if (item.SenderUser.Image != null)
                 {
                     var base64 = Convert.ToBase64String(item.SenderUser.Image);
                     var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img style="width: 80px; height:80px" class="card-img  mr-2" src="@imgSrc" />
                }
                else
                {
                    <img style="width: 80px; height:80px" class="card-img  mr-2" src="~/images/empty_image.png" />
                }
            }
        <div class="col-md-11">
            @if(item.NewsReadeds.FirstOrDefault(f => f.NewsID == item.NewsID) != null)
            {
                <i class="fas fa-envelope-open float-right m-1"></i>
            }
            else
            {
                <i class="fas fa-envelope float-right m-1"></i>
            }
            <h5>@Html.DisplayFor(modelItem => item.SenderUser.FirstName) @Html.DisplayFor(modelItem => item.SenderUser.LastName)</h5>
            <a asp-action="Details" asp-route-id="@item.NewsID" class="stretched-link text-decoration-none">
                <span class="card-text">
                    @Html.DisplayFor(modelItem => item.Title)
                </span>
            </a><br />
            <div class="float-right align-bottom">
                <small class="text-muted align-bottom">@Html.DisplayFor(modelItem => item.UpdatedDate)</small>
            </div>
        </div>
        </div>
        }
    </div>