@model IEnumerable<VetClinic.Data.Data.Clinic.News>

@{
    ViewData["Title"] = "Wiadomości Odczytane";
}

<<<<<<< HEAD
<a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
    <i class="fas fa-plus-circle"></i>
    Dodaj
</a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                   Tytuł
                </th>
                <th>
                   Nadawca
                </th>
                <th>
                    Data odczytania
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="item-not-active tableCursor" onclick="location.href = '@(Url.Action("Edit", "News", new { id = item.NewsID }, null))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderUser.FirstName)
                        @Html.DisplayFor(modelItem => item.SenderUser.LastName)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                </tr>
=======
<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
            <i class="fas fa-plus-circle"></i>
            Dodaj
        </a>
    </div>
</div>
<div class="container">
    @foreach (var item in Model)
    {
    <div class="row no-gutters rounded shadow-sm mt-2 mb-2">
            @{
                if (item.SenderUser.Image != null)
                {
                    var base64 = Convert.ToBase64String(item.SenderUser.Image);
                    var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                    <img style="width: 80px; height:80px" class="card-img" src="@imgSrc" />
                }
                else
                {
                    <img style="width: 80px; height:80px" class="card-img" src="~/images/empty_image.png" />
                }
>>>>>>> widoki-poprawione-1
            }
            <div class="col-md-11 ml-md-2">
                <h5>@Html.DisplayFor(modelItem => item.SenderUser.FirstName) @Html.DisplayFor(modelItem => item.SenderUser.LastName)</h5>
                <span class="card-text">
                    @Html.DisplayFor(modelItem => item.Title)
                </span><br />
                <div class="float-md-right align-bottom">
                    <small class="text-muted align-bottom">@Html.DisplayFor(modelItem => item.AddedDate)</small>
                    <a asp-action="Details" asp-route-id="@item.NewsID" class="stretched-link text-decoration-none">&nbsp;</a>
                </div>
            </div>
        </div>
    }
</div>