@model IEnumerable<VetClinic.Data.Data.CMS.RecentNews>

@{
    ViewData["Title"] = "RecentNews";
}

<!-- EXPANDER FILTRÓW  --> <!-- UWAGA: KONIECZNE PODPIĘCIE WŁAŚCIWYCH DANYCH NA KAŻDEJ STRONIE!!!! -->
<div id="accordion">
    <div class="card">
        <div class="card-header" id="Filtry">
            <div class="mb-0">
                Filtr
                <button class="btn btn-link" data-toggle="collapse"
                        data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-bars text-black"></i>
                </button>
            </div>
        </div>
        <div id="collapse1" class="collapse show" aria-labelledby="Filtr" data-parent="#accordion">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label>Szukaj: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2 col-md-3 filtrMargin">
                        <input type="text" class="form-control inputFiltrMargin" style="width:100%" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Tytuł, treść, numer ..." /> @*Podpiąć swoje dane*@
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
                    <button class="btn btn-outline-primary mb-2" id="usunFiltry" asp-action="Index"> <i class="fas fa-minus-circle"></i> Usuń filtry</button> @*Podpiąć swoje dane*@
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<!-- EXPANDER FILTRÓW  -->
<p>
    <a class="btn btn-outline-primary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
        <i class="fas fa-plus-circle"></i>
        Dodaj nowy
    </a>
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LinkTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                     Zdjęcie
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>

                        @{
                            if (item.Image != null)
                            {
                                var base64 = Convert.ToBase64String(item.Image);
                                var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                <img class="img-thumbnail rounded thumb-size-small" src="@imgSrc" />
                            }
                            else
                            {
                                <img class="img-thumbnail rounded thumb-size-small" src="~/images/information.jpg" />
                            }
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Edit" asp-route-id="@item.RecentNewsID">
                            <span class="fas fa-pen"></span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Details" asp-route-id="@item.RecentNewsID">
                            <span class="fas fa-list-alt"></span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Delete" asp-route-id="@item.RecentNewsID">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>