@model VetClinic.Data.Data.Clinic.Medicine

@{
    ViewData["Title"] = "Usuń";
}
<h3>Napewno chcesz usunac?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>        
        <dt class="col-sm-2">
            Typ leku
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineType.Name)
        </dd>        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicineID" />
        <input type="submit" value="Usuń" class="btn btn-primary" />

        <a class="btn btn-outline-primary" role="button" asp-action="Index">
            <span class="fas fa-arrow-circle-left"></span> Wróć do listy
        </a>
    </form>
</div>
