@model VetClinic.Data.Data.Clinic.User

@{
    ViewData["Title"] = String.Format("{0} {1} {2} (Login: {3})", ViewBag.Title, Model.FirstName, Model.LastName, Model.Login);
}

<div class="container">
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" />
                <input type="hidden" asp-for="IsActive" />
                <input type="hidden" asp-for="Image" />

                <div class="form-group col-lg-4">
                    <div class="input-group col-12 row mb-3">
                        <div class="input-group-append">
                            <div class="card-image" id="showimage">
                                @{
                                    if (Model.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(Model.Image);
                                        var imgSrc = String.Format("data:Image/jpeg;base64,{0}", base64);
                                        <img style="width: 100%" src="@imgSrc" />
                                    }
                                    else
                                    {
                                        <img style="width: 100%" src="~/images/empty_image.png" />
                                    }
                                }
                                <br />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="custom-file">
                        <input type="file" id="files" asp-for="Image" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept="image/*">
                        <label class="custom-file-label" for="inputGroupFile01">Wybierz zdjęcie</label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-lg-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Login</span>
                                </div>
                                <input type="text" asp-for="Login" class="form-control" aria-describedby="label1" readonly="readonly" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Hasło</span>
                                </div>
                                <input type="hidden" id="passwordInput" asp-for="Password" class="form-control" aria-describedby="label1" />
                                <input onclick="generatePassword()" class="generate-pass btn-primary form-control valid" type="button" value="Generuj nowe hasło" aria-invalid="false">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Imię</span>
                                </div>
                                <input type="text" asp-for="FirstName" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Nazwisko</span>
                                </div>
                                <input type="text" asp-for="LastName" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Numer telefonu</span>
                                </div>
                                <input type="text" asp-for="Phone" class="form-control text-right" aria-describedby="label1" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">E-mail</span>
                                </div>
                                <input type="text" asp-for="Email" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Ulica</span>
                                </div>
                                <input type="text" asp-for="Street" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Adres</span>
                                </div>
                                <input type="text" asp-for="HouseNumber" class="form-control text-right" aria-describedby="label1" placeholder="Numer domu" />
                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                                <input type="text" asp-for="ApartmentNumber" class="form-control text-right" aria-describedby="label1" placeholder="Numer lokalu" />
                                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Kod Pocztowy</span>
                                </div>
                                <input type="text" asp-for="PostalCode" class="form-control text-right" aria-describedby="label1" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Miasto</span>
                                </div>
                                <input type="text" asp-for="City" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Numer karty</span>
                                </div>
                                <input type="text" asp-for="CardNumber" class="form-control text-right" aria-describedby="label1" />
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="label1">Opis</span>
                                </div>
                                <input type="text" asp-for="Description" class="form-control" aria-describedby="label1" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @await Component.InvokeAsync("DetailsComponent", new
               {
                   AddedDate = @Model.AddedDate,
                   AddedUserID = @Model.UserID,
                   UpdatedDate = @Model.UpdatedDate,
                   //UpdatedUserID = @Model.UpdatedUserID
               })

            <div class="row">
                <div class="col">
                    @if (Model.IsActive)
                    {
                        <form asp-action="Delete" asp-route-id="@Model.UserID" onsubmit="alert('Na pewno chcesz usunąć użytkownika?')">
                            <input type="hidden" asp-for="UserID" />
                            <input type="submit" value="@ViewBag.Delete" class="btn btn-outline-danger buttMargin" />
                        </form>
                    }
                    else
                    {
                        <form asp-action="Restore" asp-route-id="@Model.UserID">
                            <input type="hidden" asp-for="UserID" />
                            <input type="submit" value="@ViewBag.Restore" class="btn btn-outline-success buttMargin" />
                        </form>
                    }
                </div>
                <div>
                    <input type="submit" value="Zapisz zmiany" class="btn btn-success float-right buttMargin" />
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function generatePassword() {
        event.preventDefault();
        var buf = new Uint8Array(6);
        window.crypto.getRandomValues(buf);
        document.getElementById("passwordInput").value = btoa(String.fromCharCode.apply(null, buf));
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#files").change(function () {

            var previewimages = $("#showimage");
            previewimages.html("");
            $($(this)[0].files).each(function () {
                var file = $(this);
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $("<img />");
                    img.attr("style", "height:150px;width: 150px;");
                    img.attr("src", e.target.result);
                    previewimages.append(img);
                }
                reader.readAsDataURL(file[0]);
            });

        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
