@model IEnumerable<VetClinic.Data.Data.Clinic.Reservation>

@{
    ViewData["Title"] = "Lista rezerwacji";
    Layout = "~/Views/Shared/_ClientPanelLayout.cshtml";
}
<br />
<div class="align-self-center">
    <div class="card text-center">
        <div class="col-4 mx-auto d-flex justify-content-center flex-wrap cardImagePadding">
            <img class="card-img-top cardImageLogo" style="width:100px; margin-top:20px" src="~/images/logo.svg" alt="Card image cap">
        </div>
        <div id="card-bodyReservation">
            <h4 class="card-title">Termin najbliższej wizyty: @ViewData["ClosestVisit"]</h4>
            <p class="card-text">Pacjent: @ViewData["ClosestVisitPatient"]</p>
        </div>
        <div class="card-footer bg-transparent border-0">
            <h5 class="card-text">@ViewData["WelcomeMessage"]</h5>
        </div>
    </div>
</div>
<br />

<a class="btn btn-outline-primary float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index" asp-controller="ClientPanel">
    Kalendarz Rezerwacji
</a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-left" width="250">
                    @Html.DisplayNameFor(model => model.Patients)
                </th>
                <th class="text-left" width="250">
                   Zarezerwowany termin
                </th>
                <th class="text-left" width="800">
                    Opis                
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Edit", "Reservation", new { id = item.ReservationID }, null))'">
                    <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Patients.Name)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.DateOfVisit)

                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
