@*@model VetClinic.Data.Data.Clinic.UserTypePermission*@
@model VetClinic.Data.HelpersClass.HelpersDetails

@{
    ViewData["Title"] = "Details";
}

<div class="row">

    <div class="col-sm-6">
        <h3>Zarzadzanie grupą</h3>
        <h4>@Model.typeUser.Name</h4>
    </div>
    <div class="col-sm-6 float-right text-right">
        <a class="btn btn-outline-primary" asp-action="Index">Powrót</a>
        <form asp-action="Delete" id="del" class="text-right">
            <input type="hidden" name="id" value="@Model.typeUser.UserTypeID" />
            <a href="#" onclick="document.getElementById('del').submit()">Usuń Grupe</a>
        </form>
    </div>
    <hr />
</div>
<form asp-action="Details">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <hr />
                <input type="hidden" asp-for="@Model.typeUser.UserTypeID" />
                <input type="hidden" asp-for="@Model.permissionsUser" />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nazwa</span>
                    </div>
                    @Html.EditorFor(model => model.typeUser.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Opis</span>
                    </div>
                    @Html.EditorFor(model => model.typeUser.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Uprawnienia grupy:</h3>
            <table class="table table-borderless">
                <tbody>

                    @foreach (var item in Model.permissionsUser)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Permission.Name)
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="select_permission" checked="checked" value="@item.UserPermissionID" />
                            </td>
                        </tr>
                    }

                    @foreach (var item in Model.permissionsNotSelected)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="select_permission" value="@item.PermissionID" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Użytkownicy grupy:</h3>
            <table class="table table-borderless">
                <tbody>
                    @foreach (var item in Model.users.Where(w => w.UserTypeID == Model.typeUser.UserTypeID && w.IsActive == true))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="select_user" checked="@item.IsActive? 'checked':'' " value="@item.UserID" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Dodaj Użytkownika:</h3>

            @*
                Wyszukiwanie
                <div>
                    <form asp-action="details" method="get">
                    <p>
                        Nazwisko: <input type="text" name="SearchString" />
                        <input type="submit" value="Szukaj" />
                    </p>
                </form>
                </div>
            *@

            <table class="table table-borderless">
                <tbody>
                    @foreach (var item in Model.users.Where(w => w.UserTypeID != Model.typeUser.UserTypeID && w.IsActive == true))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="select_new_user" value="@item.UserID" />
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn btn-outline-primary" value="Zapisz" />
    </div>

</form>



