@model VetClinic.Data.Data.Clinic.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Szczegóły elementu:</h4>
<h2>Rezerwacje</h2>
<hr />

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfVisit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfVisit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patients.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationAddedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationAddedUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationUpdatedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationUpdatedUser.LastName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@Model.ReservationID">
        <span class="fas fa-pen"></span> Edytuj
    </a>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">
        <span class="fas fa-arrow-circle-left"></span> Wróć do listy
    </a>    
    <a class="btn btn-outline-primary" role="button" asp-action="Index" asp-controller="Calendar">
        Kalendarz Rezerwacji
    </a>
</div>
