@model VetClinic.Data.Data.Clinic.Reservation

@{
    ViewData["Title"] = "Edycja rezerwacji";
}

<div class="container">
    <div class="row">
        <form asp-action="Edit" class="col" id="saveForm">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReservationID" />
                <input type="hidden" asp-for="ReservationUserID" />
                <input type="hidden" asp-for="AddedDate" />
                <input type="hidden" asp-for="AddedUserID" />
                <input type="hidden" asp-for="UpdatedUserID" />
                <input type="hidden" asp-for="UpdatedDate" />
                <div class="form-group col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label1">Klient</span>
                        </div>
                        <span class="form-control">@Model.ReservationUser.Fullname</span>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label1">Pacjent</span>
                        </div>
                        <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                        <span asp-validation-for="PatientID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label1">Data wizyty</span>
                        </div>
                        <span class="form-control">@Model.DateOfVisit.ToShortDateString(),@Model.DateOfVisit.ToShortTimeString()</span>
                        @if (@ViewBag.DateError != null)
                        {
                            <span class="text-danger">@ViewBag.DateError</span>
                        }
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label1">Opis</span>
                        </div>
                        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                @*Kalendarz*@
                @{
                    DateTime firstH = ViewBag.FreeBlock[0];
                }
                <div class="col-sm-1 text-lg-right">
                    @if (!firstH.Date.Equals(DateTime.Now.Date))
                    {
                       <a asp-action="Edit" asp-route-navi="previous" asp-route-vd="@ViewBag.FreeBlock[0].ToString()"> <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></a>
                    }
                </div>
                <div class="col-lg-4 mb-8 text-lg-center mb-2">
                    @{
                        <h6 class="mt-3">
                            @{
                                if (firstH.DayOfWeek.ToString().Equals("Monday"))
                                {
                                    @:Poniedziałek
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Tuesday"))
                                {
                                    @:Wtorek
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Wednesday"))
                                {
                                    @:Środa
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Thursday"))
                                {
                                    @:Czwartek
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Friday"))
                                {
                                    @:Piątek
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Saturday"))
                                {
                                    @:Sobota
                                }
                                if (firstH.DayOfWeek.ToString().Equals("Sunday"))
                                {
                                    @:Niedziela
                                }
                            }
                            @firstH.ToShortDateString()
                        </h6>

                            foreach (var item in ViewBag.FreeBlock)
                            {
                                    if(Model.DateOfVisit.Equals(item))
                                    { 
                                    <div class="d-inline btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-success btn-sm pl-1 pr-1 pb-0 pt-0">
                                            <input type="radio" checked value="@item" name="DateOfVisit"> @item.ToString("HH:mm")
                                        </label>
                                    </div>
                                    }
                                    else 
                                    { 
                                    <div class="d-inline btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary btn-sm pl-1 pr-1 pb-0 pt-0">
                                            <input type="radio" value="@item" name="DateOfVisit"> @item.ToString("HH:mm")
                                        </label>
                                    </div>
                                    }
                            }
                    }
                </div>
                <div class="col-sm-1 mb-4 text-sm-left">
                    <a asp-action="Edit" asp-route-navi="next" asp-route-vd="@firstH.ToString()"> <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
                </div>

                @*kalendarz koniec*@

            </div>

            @await Component.InvokeAsync("DetailsComponent", new
       {
           AddedDate = @Model.AddedDate,
           AddedUserID = @Model.AddedUserID,
           UpdatedDate = @Model.UpdatedDate,
           UpdatedUserID = @Model.UpdatedUserID
       })
        </form>
    </div>
    
    
    <div class="row">
        <div class="col">
            @if (Model.IsActive)
            {

                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModal">
                    Usuń
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Uwaga!</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Czy chcesz usunąć rezerwację?
                            </div>

           
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-route-id="@Model.ReservationID">
                                    <input type="hidden" asp-for="ReservationID" />
                                    <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                    <button type="button" class="btn btn-outline-secondary buttMargin"  data-dismiss="modal">Nie</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                @*<form asp-action="Delete" asp-route-id="@Model.ReservationID" onsubmit="alert('Na pewno chcesz usunąć rezerwacje?')">
                    <input type="hidden" asp-for="ReservationID" />
                    <input type="submit" value="Usuń" class="btn btn-outline-danger buttMargin" />
                </form>*@
            }
            else
            {
                <form asp-action="Restore" asp-route-id="@Model.ReservationID">
                    <input type="hidden" asp-for="ReservationID" />
                    <input type="submit" value="Przywróć" class="btn btn-success buttMargin" />
                </form>
            }
        </div>
        <div class="col">
            <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success float-right buttMargin" />
        </div>

        


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $.datetimepicker.setLocale('pl');

    $("#DatePicker").datetimepicker({
        step:20,
        format: 'd.m.Y H:i',
        lang: 'pl'
    });


</script>
