@model IEnumerable<VetClinic.Data.Data.Clinic.MedicalSpecialization>

@{
  ViewBag.Title = "Specjalizacje lekarza";
}


<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-success float-right" asp-action="Create"><i class="fas fa-plus-circle"></i>Dodaj</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Użytkownik
                </th>
                <th>
                    Specjalizacja
                </th>
                <th>
                    Ostatnia modyfikacja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="@(item.IsActive ? "item-active" : "item-not-active" )">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicalSpecializationID">
                        @Html.DisplayFor(modelItem => item.MedicalSpecializationUser.FirstName)
                        @Html.DisplayFor(modelItem => item.MedicalSpecializationUser.LastName)
                    </a>
                    <span class="login">(Login: @Html.DisplayFor(modelItem => item.MedicalSpecializationUser.Login))</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
