@model IEnumerable<VetClinic.Data.Data.Clinic.MedicalSpecialization>

@{
    ViewBag.Title = "Specjalizacje lekarza";
}

<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-outline-success float-right" asp-action="Create"><i class="fas fa-plus-circle"></i> Dodaj</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Lekarz
                </th>
                <th>
                    Specjalizacje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select(x => x.MedicalSpecializationUser).Distinct())
            {
                var msUserID = item.UserID;
                <tr>
                    <td class="@(item.IsActive ? "item-active-label" : "item-not-active-label")">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                        <span class="login ">(Login: @Html.DisplayFor(modelItem => item.Login))</span>
                    </td>
                    <td style="padding-bottom: 0px;">
                        <table class="table table-hover">
                            <tr class="tableCursor">
                                @foreach (var spec in Model.Where(x => x.MedicalSpecializationUser.UserID == msUserID))
                                {
                                    <label class="btn btnHov cursorPointer @(spec.IsActive ? "item-active-label" : "item-not-active-label")" onclick="location.href = '@(Url.Action("Edit", "MedicalSpecializations", new { id = spec.MedicalSpecializationID }, null))'">
                                        @Html.DisplayFor(modelItem => spec.Specialization.Name)
                                    </label>
                                }
                            </tr>

                        </table>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

