@model IEnumerable<VetClinic.Data.Data.Clinic.Patient>

@{
    ViewData["Title"] = "Pacjenci";
}

<div id="accordion">
    <div class="card">
        <div class="card-header" id="Filtry">
            <div class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                <strong>Filtry</strong>
                <button class="btn btn-link">
                    <i class="fa fa-bars text-black"></i>
                </button>
            </div>
        </div>
        <div id="collapse1" class="collapse @(ViewData["currentFilter"] == null ? "" : "show")" aria-labelledby="Filtry" data-parent="#accordion">
            <div class="card-body">

                <form class="form-inline" asp-action="Index" method="get">
                    <div class="form-group mb-2">
                        <label>Wyszukaj po: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2 col-md-6">
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Imieniu, numerze, właścicielu..." />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
                    @if (ViewData["currentFilter"] != null)
                    {
                        <a role="button" class="btn btn-outline-primary mb-2" id="usunFiltry" asp-action="Index"> <i class="fas fa-minus-circle"></i> Usuń filtry</a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<a class="btn btn-outline-success float-right mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
    <i class="fas fa-plus-circle"></i>
    Dodaj
</a>
 
<input class="btn btn-outline-primary" type="button" value="Pokaż moich pacjentów" onclick="location.href='@Url.Action("ShowOwnPatients", "Patients")'" />  


<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Patients", new { id = item.PatientID }, null))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        <span class="login">(Przydomek: @Html.DisplayFor(modelItem => item.KennelName))</span>
                    </td>
                    <td class="text-right">
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.BirthDate))
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.PatientNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientUser.FirstName)
                        @Html.DisplayFor(modelItem => item.PatientUser.LastName)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm listButtMargin" role="button" asp-action="Visit" asp-route-id="@item.PatientID">
                            <span class="fa fa-ambulance"></span>
                            Wizyty pacjenta
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="margin-top:20%;margin-left:25%">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Szczegóły</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}