@model VetClinic.Data.Helpers.VisitDetails

@{
    Layout = null;
}



<link href="~/css/Zakladki.css" rel="stylesheet" />

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dane-tab" data-toggle="tab" href="#nav-dane" role="tab" aria-controls="nav-dane" aria-selected="true">Opis</a>
                    <a class="nav-item nav-link" id="nav-zabieg-tab" data-toggle="tab" href="#nav-zabieg" role="tab" aria-controls="nav-zabieg" aria-selected="false">Zabiegi</a>
                    <a class="nav-item nav-link" id="nav-leki-tab" data-toggle="tab" href="#nav-leki" role="tab" aria-controls="nav-leki" aria-selected="false">Leki</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dane" role="tabpanel" aria-labelledby="nav-dane-tab">
                    <form asp-action="Visit" enctype="multipart/form-data" class="col" id="saveForm">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Visit.VisitID" />
                            <input type="hidden" asp-for="Visit.VisitUserID" />
                            <input type="hidden" asp-for="Visit.PatientID" />
                            <input type="hidden" asp-for="Visit.VetID" />
                            <input type="hidden" asp-for="Visit.TreatmentID" />
                            <input type="hidden" asp-for="Visit.DateOfVisit" />
                            <input type="hidden" asp-for="Visit.IsActive" />
                            <input type="hidden" asp-for="Visit.AddedDate" />
                            <input type="hidden" asp-for="Visit.AddedUserID" />
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <textarea asp-for="Visit.Description" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Visit.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
                @*<div>
            <div class="row">
                <div class="showDetails col-sm-6 wiersz" Visit-Id="@Model.Visit.VisitID" style="cursor:pointer;height:auto">
                    <p class="odstep">  @Html.DisplayFor(model => model.Visit.Description)</p>
                </div>
            </div>
        </div>*@
                <div class="tab-pane fade" id="nav-zabieg" role="tabpanel" aria-labelledby="nav-zabieg-tab">

                    @if (Model.VisitTreatments.Count == 0)
                    {
                        <br />
                        <p><b>Nie ma dodanych zabiegów</b></p>
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa
                                        </th>
                                        @*<th>
                                    Ilosc
                                </th>*@
                                        <th>
                                            Typ leku
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitTreatments)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Name)
                                            </td>
                                            @*<td>
                                        @Html.DisplayFor(modelItem => item.Medicine.Quantity)
                                    </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Description)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="nav-leki" role="tabpanel" aria-labelledby="nav-leki-tab">
                    @if (Model.VisitMedicine.Count == 0)
                    {<br />
                        <p>
                            <b>Nie ma dodanych leków</b>
                        </p>
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa
                                        </th>
                                        @*<th>
                                    Ilosc
                                </th>*@
                                        <th>
                                            Typ leku
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitMedicine)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.Name)
                                            </td>
                                            @*<td>
                                        @Html.DisplayFor(modelItem => item.Medicine.Quantity)
                                    </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.MedicineType.Name)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="col-md-12">
                    <p class="odstep">
                        <a class="edytuj btn btn-outline-primary btn-sm listButtMargin" role="button" Visit-Id="@Model.Visit.VisitID">
                            <span class="fa fa-edit"></span>
                            Edytuj
                        </a>
                    </p>
                </div>

                @await Component.InvokeAsync("DetailsComponent", new
                            {
                               AddedDate = @Model.Visit.AddedDate,
                               AddedUserID = @Model.Visit.AddedUserID,
                               UpdatedDate = @Model.Visit.UpdatedDate,
                               UpdatedUserID = @Model.Visit.UpdatedUserID
                            })
                <div class="row">
                    <div class="col">
                        @if (Model.Visit.IsActive)
                        {
                            <form asp-action="DeleteVisit" asp-route-id="@Model.Visit.VisitID" onsubmit="alert('Na pewno chcesz usunąć pacjenta?')">
                                <input type="hidden" asp-for="Visit.VisitID" />
                                <input type="submit" value="Usuń wizyte" class="btn btn-outline-danger buttMargin"/>
                            </form>
                        }
                        else
                        {
                            <form asp-action="RestoreVisit" asp-route-id="@Model.Visit.VisitID">
                                <input type="hidden" asp-for="Visit.VisitID" />
                                <input type="submit" value="Przywróć wizyte" class="btn btn-success buttMargin"/>
                            </form>
                        }
                    </div>
                    <div class="col">
                        <input form="saveForm" type="submit" value="Zapisz zmiany" class="btn btn-success float-right buttMargin" 
                               asp-action="EditVisit" asp-route-id="@Model.Visit.VisitID" asp-fragment="@Model.Visit.VisitID"/>
                    </div>
                </div>

            </div>
            
        </div>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
     $('.showDetails').click(function () {

         var patient_id = $(this).attr("Visit-Id");
         $.ajax({
             type: 'GET',
             url: '@Url.Action("VisitOpis","Patients")',

             data:
             {
                 id: patient_id
             },

             success: (data) => {
                 $('#exampleModal').find('.modal-body').html(data);
                 $('#exampleModal').modal('show');
             }

         });
     });
</script>
<script>
            $('.edytuj').click(function(e) {
                e.preventDefault();
                var pId = $(this).attr("Visit-Id");
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("EditVisit", "Patients")',
                    data: {
                        id: pId
                    },
                    success: function (pageContent) {
                        $('#maincont').html(pageContent);
                    }
                });
                });
</script>