@model VetClinic.Data.Helpers.VisitDetails

@{
    Layout = null;
}
<link href="~/css/Zakladki.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col" style="padding-left: 0px;padding-right: 0px;">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dane-tab" data-toggle="tab" href="#nav-dane" role="tab" aria-controls="nav-dane" aria-selected="true">Opis</a>
                    <a class="nav-item nav-link" id="nav-zabieg-tab" data-toggle="tab" href="#nav-zabieg" role="tab" aria-controls="nav-zabieg" aria-selected="false">Zabiegi</a>
                    <a class="nav-item nav-link" id="nav-leki-tab" data-toggle="tab" href="#nav-leki" role="tab" aria-controls="nav-leki" aria-selected="false">Leki</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dane" role="tabpanel" aria-labelledby="nav-dane-tab" style="padding-top: 15px;">
                    <form asp-action="Visit" enctype="multipart/form-data" class="col" id="saveForm">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Visit.VisitID" />
                            <input type="hidden" asp-for="Visit.VisitUserID" />
                            <input type="hidden" asp-for="Visit.PatientID" />
                            <input type="hidden" asp-for="Visit.VetID" />
                            <input type="hidden" asp-for="Visit.TreatmentID" />
                            <input type="hidden" asp-for="Visit.DateOfVisit" />
                            <input type="hidden" asp-for="Visit.IsActive" />
                            <input type="hidden" asp-for="Visit.AddedDate" />
                            <input type="hidden" asp-for="Visit.AddedUserID" />
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <textarea asp-for="Visit.Description" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Visit.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                @* ZABIEGI TAB *@
                <div class="tab-pane fade" id="nav-zabieg" role="tabpanel" aria-labelledby="nav-zabieg-tab">

                    <a class="btn btn-outline-primary btn-sm listButtMargin" style="margin-left: 12px; margin-top: 12px;" id="addTreatment" role="button" visit-id="@Model.Visit.VisitID">
                        <span class="fa fa-plus-circle"></span>
                        Dodaj zabieg
                    </a>

                    @if (Model.VisitTreatments.Count == 0)
                    {
                        <br /><br />
                        <p><b>Nie ma dodanych zabiegów</b></p><br /><br />
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa zabiegu
                                        </th>
                                        <th>
                                            Rodzaj
                                        </th>
                                        <th width="20px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitTreatments)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Treatment.Description)
                                            </td>
                                            <td width="20px">
                                                <a href="@Url.ActionLink("DeleteNow", "VisitTreatments", new { id = @item.VisitTreatmentID, patientId = @item.Visit.PatientID })" style="color:#f3715b;" role="button" data-toggle="tooltip" title="Usuń">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                @* LEKI TAB *@
                <div class="tab-pane fade" id="nav-leki" role="tabpanel" aria-labelledby="nav-leki-tab">

                    <a class="btn btn-outline-primary btn-sm listButtMargin" style="margin-left: 12px; margin-top: 12px;" id="addMedicine" role="button" visit-id="@Model.Visit.VisitID">
                        <span class="fa fa-plus-circle"></span>
                        Dodaj lek
                    </a>
                    @if (Model.VisitMedicine.Count == 0)
                    {<br /><br />
                        <p>
                            <b>Nie ma dodanych leków</b>
                        </p><br /><br />
                    }
                    else
                    {
                        <div class="table-responsive odstep">
                            <table class="table table-hover">
                                <thead class="komorka">
                                    <tr>
                                        <th>
                                            Nazwa leku
                                        </th>
                                        @*<th>
                                                Ilość
                                            </th>*@
                                        <th>
                                            Typ leku
                                        </th>
                                        <th width="20px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VisitMedicine)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.Name)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Medicine.Quantity)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Medicine.MedicineType.Name)
                                            </td>
                                            <td width="20px">
                                                <a href="@Url.ActionLink("DeleteNow", "VisitMedicines", new { id = @item.VisitMedicineID, patientId = @item.Visit.PatientID })" style="color:#f3715b;" role="button" data-toggle="tooltip" title="Usuń">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                @await Component.InvokeAsync("DetailsComponent", new
                            {
                               AddedDate = @Model.Visit.AddedDate,
                               AddedUserID = @Model.Visit.AddedUserID,
                               UpdatedDate = @Model.Visit.UpdatedDate,
                               UpdatedUserID = @Model.Visit.UpdatedUserID
                            })
                @* Row z buttonami Usuń / Zapisz *@
            <div class="row" style="padding-bottom: 15px;padding-left: 15px;padding-right: 12px;padding-top: 5px;">
                <div class="col">
                    @if (Model.Visit.IsActive)
                    {
                        <form asp-action="DeleteVisit" asp-route-id="@Model.Visit.VisitID" onsubmit="alert('Na pewno chcesz usunąć wizytę?')">
                            <input type="hidden" asp-for="Visit.VisitID" />
                            <input type="submit" value="Usuń wizyte" class="btn btn-outline-danger buttMargin" />
                        </form>
                    }
                    else
                    {
                        <form asp-action="RestoreVisit" asp-route-id="@Model.Visit.VisitID">
                            <input type="hidden" asp-for="Visit.VisitID" />
                            <input type="submit" value="Przywróć wizyte" class="btn btn-success buttMargin" />
                        </form>
                    }
                </div>
                <div class="col">
                    <input form="saveForm" type="submit" value="Zapisz zmiany" class="btn btn-success float-right buttMargin"
                           asp-action="EditVisit" asp-route-id="@Model.Visit.VisitID" asp-fragment="@Model.Visit.VisitID" />
                </div>
                @if (Model.VisitTreatments.Count != 0 && Model.VisitMedicine.Count != 0)
                {
                    <a class="btn btn-success float-right buttMargin2 mb-3" role="button" aria-haspopup="true" aria-expanded="false" asp-action="ShowOwnReservation" asp-controller="Reservations">
                        Zakończ wizytę
                    </a>
                }
            </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
     $('.showDetails').click(function () {

         var patient_id = $(this).attr("Visit-Id");
         $.ajax({
             type: 'GET',
             url: '@Url.Action("VisitOpis","Patients")',

             data:
             {
                 id: patient_id
             },

             success: (data) => {
                 $('#exampleModal').find('.modal-body').html(data);
                 $('#exampleModal').modal('show');
             }

         });
     });
</script>
<script>
            $('.edytuj').click(function(e) {
                e.preventDefault();
                var pId = $(this).attr("Visit-Id");
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("EditVisit", "Patients")',
                    data: {
                        id: pId
                    },
                    success: function (pageContent) {
                        $('#maincont').html(pageContent);
                    }
                });
                });
</script>

<script>
    $('#addTreatment').click(function (e) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create","VisitTreatments", new { id = @Model.Visit.VisitID, patientId = @Model.Visit.PatientID })',
              success: (data) => {
                  $('#TreatmentModal').find('.modal-body').html(data);
                  $('#TreatmentModal').modal('show');
              }
        })
    }
    );
</script>

<div class="modal fade bd-example-modal-xl" id="TreatmentModal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width:600px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zabiegi do dodania:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<script>
    $('#addMedicine').click(function (e) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Create","VisitMedicines", new { id = @Model.Visit.VisitID, patientId = @Model.Visit.PatientID })',
              success: (data) => {
                  $('#MedicineModal').find('.modal-body').html(data);
                  $('#MedicineModal').modal('show');
              }
        })
    }
    );
</script>

<div class="modal fade bd-example-modal-xl" id="MedicineModal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width:600px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leki do dodania:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>